<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- ============================================ -->
    <!-- 1. Service, DAO 자동 스캔 (Controller 제외)  -->
    <!-- ============================================ -->
    <context:component-scan base-package="hmfrnt">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- ============================================ -->
    <!-- 2. DataSource                               -->
    <!-- ============================================ -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@//localhost:1521/XEPDB1"/>
        <property name="username" value="mmall"/>
        <property name="password" value="mmall123"/>
        <property name="initialSize" value="5"/>
        <property name="maxTotal" value="20"/>
        <property name="maxIdle" value="10"/>
    </bean>

    <!-- ============================================ -->
    <!-- 3. MyBatis SqlSessionFactory               -->
    <!-- ============================================ -->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/**/*.xml"/>
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"/>
            </bean>
        </property>
    </bean>

    <!-- ============================================ -->
    <!-- 4. MyBatis Mapper 자동 스캔                 -->
    <!-- ============================================ -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="hmfrnt"/>
        <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- ============================================ -->
    <!-- 5. 트랜잭션 관리자                          -->
    <!-- ============================================ -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
