<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hmfrnt.ap.mapper.APGoodsDAO">

    <sql id="goodsColumns">
        GD_CD, GD_NM, GD_PRICE, GD_DESC, GD_IMG_URL, USE_YN
    </sql>

    <select id="selectGoodsDetail" parameterType="String" resultType="hmfrnt.ap.vo.APGoodsVO">
        SELECT
            <include refid="goodsColumns"/>
        FROM
            TB_GOODS
        WHERE
            GD_CD = #{gdCd}
            AND USE_YN = 'Y'
    </select>

    <select id="selectGoodsList" resultType="hmfrnt.ap.vo.APGoodsVO">
        SELECT
            <include refid="goodsColumns"/>
        FROM
            TB_GOODS
        WHERE
            USE_YN = 'Y'
        ORDER BY
            GD_CD DESC
    </select>

</mapper>
